<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>Todo 목록</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/v1/todos/add}'|"
              type="button">add Todo</button>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr> <th>ID</th>
        <th>내용</th>
        <th>날짜</th>
        <th>체크</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td><a href="todo.html" th:href="@{|/basic/todos/${todo.id}|}" th:text="${todo.id}">todo id</a></td>
        <td th:text="${todo.content}">내용</td>
        <td th:text="${todo.createDate}">날짜</td>
        <td><input type="checkbox" name = "checked" th:checked="${todo.checked}"/></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>